---
import { skills } from "../../data/skills";

type SimpleIcon = {
  svg: string;
  title: string;
};
---

<section id="skills">
  <h2>Skills</h2>
  <div class="carousel-container">
    <ul class="skills-list">
      {
        skills.map((skill) => (
          <li title={skill.name}>
            {
              <svg
                class="skill-icon"
                viewBox="0 0 24 24"
                set:html={skill.icon.svg}
              />
            }
          </li>
        ))
      }
    </ul>
  </div>
</section>

<style>
  #skills {
    width: 100%;
  }
  .carousel-container {
    width: 100%;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 15%,
      black 85%,
      transparent 100%
    );
    mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 15%,
      black 85%,
      transparent 100%
    );
    .skills-list {
      display: flex;
      flex-wrap: nowrap;
      gap: 2rem;
      list-style: none;
      margin: 0 auto;
      padding: 0;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      li {
        color: #fff;
        border-radius: 5px;
        font-size: 0.9em;
        transition:
          transform 0.2s,
          color 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          color: var(--primary-color);
          transform: scale(1.1);
        }

        .skill-icon {
          width: 48px;
          height: 48px;
          fill: currentColor;
        }
      }
    }
  }

  @keyframes carousel {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-20rem);
    }
  }
</style>
