#blurred-box {
  position: absolute;
  width: 80%;
  max-width: 500px;
  height: auto;
  min-height: 550px;
  background-color: rgba(0, 0, 0, 0.377);
  border-radius: 20px;
  border: 4px solid rgb(255, 255, 255);
  backdrop-filter: blur(5px);
  z-index: 3;
  padding: 20px;
  text-align: center;
  transform-style: preserve-3d
}

#blurred-box:hover {
  animation: none
}

#blurred-box:not(:hover) {
  animation: float 3s ease-in-out infinite forwards;
}

#blurred-box img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.links {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 100%;
}

.links a {
  display: flex;
  align-items: center;
  margin: 0 5px;
  text-decoration: none !important;
  transition: color 0.3s;
  transition: transform 0.3s ease;
}

.links a:hover {
  color: rgb(214, 109, 255);
  transform: translateY(-5px) scale(1.1);
}

.links a i {
  margin-right: 1px;
  font-size: 30px;
}

#username-container {
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 15px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  pointer-events: auto;
  white-space: nowrap;
  font-size: 24px;
  font-weight: bold;
  min-height: 50px;
  display: flex;
  align-items: center;
}