.slider-container {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 3;
}

.slider-container .slider {
    width: 200px;
}

/* ------------------------- */

.player-container {
  position: absolute;
  bottom: clamp(23%, 4vh, 25%);
  width: 300px;
  padding: 8px;
  box-sizing: border-box;
}

.player-container .song-info {
  background-color: #000;
  margin: 0 15px;
  padding: 5px 15px 5px 15px;
}

.player-container .song-info .song-name {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  margin: 3px 0 5px;
}

.player-container .controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  background-color: #292929;
  height: 35px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.player-container .controls #play {
  color: #fff;
  font-size: 15px;
  border-radius: 50%;
  transition: all 0.5 ease-in-out;
}

.player-container .controls #play:hover {
  color: pink;
  transform: scale(1.2);
}

.player-container .controls i {
  font-size: 17px;
  cursor: pointer;
  color: #919191;
  transition: all 0.5 ease-in-out;
}

.player-container .controls i:hover {
  color: #fff;
  transform: scale(1.1);
}


/* ------------------------- */

#canvasContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#canvasContainer .vb-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}