<div
    id="blurred-box"
    class="tilt-element d-flex align-items-start flex-column floating"
>
    <div class="align-self-center">
    <img
        id="profile-picture"
        class="mx-auto d-block border border-white"
        src="images/pfp.webp"
        alt="Icon"
    />
    <p
        id="username-container"
        style="color: white; font-weight: bold; font-size: 32px"
    ></p>
    </div>

    <div class="badges-container align-self-center">
    <img src="images/badge/love.png" alt="heart badge" />
    </div>

    <div class="player-container align-self-center">
    <div class="song-info rounded-top">
        <div class="song-name">N/A</div>
    </div>
    <div class="controls">
        <i id="prev" class="prev-btn fa-solid fa-backward"></i>
        <i id="play" class="play-btn fa-solid fa-play"></i>
        <i id="next" class="next-btn fa-solid fa-forward"></i>
    </div>
    </div>

    <div class="links align-self-center">
    <a
        onclick="CopyClipboard('errorcezar', this)"
        data-tooltip="Copy Discord username"
        target="_blank"
        class="color-white"
    >
        <i class="fab fa-discord"></i>
    </a>

    <a
        onclick="CopyClipboard('error.802', this)"
        data-tooltip="Copy Signal username"
        target="_blank"
        class="color-white"
    >
        <i class="fa-brands fa-signal-messenger"></i>
    </a>

    <a
        href="https://steamcommunity.com/profiles/76561199191273742/"
        data-tooltip="Open Steam Profile"
        target="_blank"
        class="color-white"
    >
        <i class="fa-brands fa-steam"></i>
    </a>

    <a
        href="https://github.com/Error-Cezar"
        data-tooltip="Open GitHub"
        target="_blank"
        class="color-white"
    >
        <i class="fa-brands fa-github"></i>
    </a>

    <a
        href="https://x.com/errorisntpublic"
        data-tooltip="Open Twitter"
        target="_blank"
        class="color-white"
    >
        <i class="fa-brands fa-twitter"></i>
    </a>

    <a
        onclick="CopyClipboard('bc1q329swh9rlpnn5pw97k4crjhsm6nhjlzgl4u7hl', this)"
        data-tooltip="Copy BTC Wallet"
        target="_blank"
        class="color-white"
    >
        <i class="fa-brands fa-bitcoin"></i>
    </a>
    </div>

    <div class="links align-self-center" style="bottom: 20px !important;">
            <a
        href="https://last.fm/user/ErrorCezar"
        data-tooltip="Open LastFM"
        target="_blank"
        class="color-white"
    >
        <i class="fa-brands fa-lastfm"></i>
    </a>
    </div>
</div>