@import "../shared/tooltip.css";
@import "../shared/animations.css";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: linear-gradient( darkblue, black);
}

@keyframes rainbow {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.rainbow-text {
    background: linear-gradient(to right, yellow, orange, aqua, red, grey, black, pink);
    background-size: 500% 500%;
    font-size: 1.5rem;
    animation: rainbow 5s linear infinite alternate;
    color: transparent;
    background-clip: text;
    display: inline-block;
    margin-bottom: 2rem;
}

.rainbow-name {
    background: linear-gradient(to right, dodgerblue, deepskyblue);
    background-size: 500% 500%;
    animation: rainbow 2s linear infinite alternate;
    color: transparent;
    background-clip: text;
    display: inline-block;
    margin-bottom: 2rem;
}
