<meta property="og:title" content="errorcezar.lol" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://errorcezar.lol" />
<meta
    property="og:description"
    content="A place that may or may not be owned by some idiot called 'ErrorCezar'"
/>
<meta name="theme-color" content="#6d09e8" />

<meta charset="UTF-8" />
<meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
/>

<link rel="icon" type="image/x-icon" href="static/images/icon.ico" />