---
import { Font } from "astro:assets";
import Footer from "../components/Footer.astro";
import Topbar from "../components/Topbar.astro";

import "../styles.css";
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Font cssVariable="--font-roboto" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="errorcezar.lol"
      href={new URL("rss.xml", Astro.site)}
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta property="og:title" content="errorcezar.lol" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://errorcezar.lol" />
    <meta
      property="og:description"
      content="A place that may or may not be owned by someone called 'ErrorCezar'"
    />
    <meta name="theme-color" content="#6d09e8" />

    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <meta property="og:image" content={"/Pfp.gif"} />

    <script is:inline src="/kao.js"></script>
    <link rel="preconnect" href="https://api.fonts.coollabs.io" crossorigin />
    <link
      href="https://api.fonts.coollabs.io/css2?family=Inter:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />

    <title>ErrorCezar - {title}</title>
    <meta name="description" content={description} />
  </head>

  <body>
    <main>
      <Topbar />
      <slot />
    </main>
    <Footer />
  </body>
</html>
